# insecure transport needed for http development. In deployment, use https
OAUTHLIB_INSECURE_TRANSPORT=1

# bypassing csrf should only be done in development
BYPASS_API_CSRF=1

CORS_ORIGINS='["http://localhost:8000"]'

CLIENT_ID=get this from the UI
CLIENT_SECRET=get this from the UI
ACCESS_TOKEN_TIMEOUT_SECONDS=3600
